:root {
  --background: #fefefe;
  --foreground: #1a1a1a;
  --primary: #3f4198;
  --sticky-nav: #fefefe;
  --gray: #575757;
  --gray-two: #545454;
  --font-inter: "Inter", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  line-height: 1.5;
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  max-width: 90rem;
  margin-inline: auto;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s cubic-bezier(0.47, 0, 0.745, 0.715);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

a:hover,
button:hover {
  opacity: 0.85;
}

img,
svg {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-inter);
}

h2 {
  text-transform: capitalize;
  text-align: center;
  text-wrap: pretty;
  font-size: 2rem;
  font-weight: 600;
  color: black;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

/* ================  UTILITIES ================== */

.flex {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.page {
  width: 90%;
  margin-inline: auto;
}

/* =============  HERO SECTION ========== */

h1 {
  font-weight: 400;
  font-size: 1.4rem;
}

.main__header {
  padding: 1.5rem 1rem;
  position: sticky;
  top: 0;
  background-color: var(--sticky-nav);
  z-index: 1000;
  box-shadow: 0px 4px 6.5px rgba(0, 0, 0, 0.11);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__nav {
  display: none;
  position: absolute;
  top: 100%;
  color: white;
  background-color: var(--primary);
  right: 0;
  padding: 2rem;
  width: 100%;
  max-width: 17rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 0px 7px 6.5px rgba(0, 0, 0, 0.25);

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.4rem;

    li:last-child {
      background-color: white;
      color: var(--primary);
      padding: 0.5rem 1.4rem;
      border-radius: 2.6875rem;
    }
  }
}

.sign-in-wrap {
  display: none;
}

.nav-toggle {
  --color: var(--foreground);

  width: 2.4rem;
  border: 2px solid var(--color);
  border-radius: 0.5rem;

  & .line {
    transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
    transform-origin: center;
  }

  &[aria-expanded="true"] .line {
    transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
  }

  &[aria-expanded="true"] :is(.top, .bottom) {
    y: 45;
  }

  &[aria-expanded="true"] .top {
    rotate: 45deg;
  }

  &[aria-expanded="true"] .middle {
    opacity: 0;
  }

  &[aria-expanded="true"] .bottom {
    rotate: -45deg;
  }
}

.nav-toggle[data-state="opened"] {
  --color: var(--primary);
}

.nav-toggle[data-state="opened"] ~ .main__nav {
  display: block;
}

.hero {
  --duration: 1000ms;
  --delay: 400ms;

  flex-direction: column-reverse;
  padding-block: 2rem;
  gap: 1.3rem;
}

.hero__content {
  p {
    color: var(--gray);
    line-height: 1.6875rem;
  }

  .more {
    display: flex;
    align-items: center;
  }

  a {
    padding: 0.585rem;
    color: var(--gray-two);

    &:has(span) span {
      font-size: 2rem;
    }

    &:first-of-type {
      border: 1px solid var(--primary);
      color: var(--primary);
      border-radius: 2.5625rem;
      font-weight: 600;
      padding-inline: 1rem;
      margin-right: 1rem;
    }
  }

  & > * {
    margin-top: 1.2rem;
  }
}

.flex__img {
  border-radius: 1.7rem;
  overflow: clip;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 4/3;
  }
}

.scroller {
  max-width: 90%;
  margin-inline: auto;
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-block: 0.1rem;
  gap: 2rem;

  img {
    width: 10rem;
  }
}

.scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 10% 90%, transparent);

  .scroller__inner {
    --gap: 0.5rem;
    --duration: 8s;

    flex-wrap: nowrap;
    animation: scroll var(--duration, 40s) linear infinite;
    width: max-content;

    &:hover {
      animation-play-state: paused;
    }
  }
}

/* ******* UNCOVER OUR REAL ESTATE JOURNEY *************** */

.discover {
  p:has(~ .discover__units) {
    color: #6a6b6b;
  }
}

.discover .flex__content > * {
  margin-bottom: 1.3rem;
}

.discover__units {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;

  .count {
    color: black;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0.2rem;
  }
}

/* ******* WHY US *************** */

.why__us {
  padding-block: 3rem;
}

.why__us-list {
  display: grid;
  gap: 2rem;
  margin-top: 2.9rem;
}

.why__us-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;

  img {
    width: 2.3rem;
  }

  h4 {
    text-transform: capitalize;
    color: black;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }

  p {
    color: #6a6b6b;
  }
}

/* =============== DISCOVER YOUR IDEAL HOME ============== */

.discover-home {
  padding-block: 3rem;
}

.discover__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  align-items: center;

  h2 {
    text-align: left;
  }
}

.discover__list {
  display: grid;
  gap: 2rem;
}

.discover__card {
  border-radius: 0.3125rem;
  overflow: clip;
  color: #000000;

  .image {
    overflow: hidden;
    width: 100%;
    height: 25.1875rem;

    img {
      object-fit: cover;
      aspect-ratio: 4/3;
      width: 100%;
      height: 100%;
    }
  }

  h5 {
    font-weight: 600;
    font-size: 1rem;
  }

  .discover__card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  button {
    background-color: var(--primary);
    padding: 0.5813rem;
    border-radius: 0.1875rem;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
  }

  & > * {
    margin-bottom: 1rem;
  }
}

.see-all {
  display: inline-flex;
  align-self: flex-end;
  text-wrap: nowrap;
  color: var(--primary);
  gap: 0.5rem;
  align-items: center;

  img {
    width: 10px;
  }
}

/* ============   TESTIMONIALS  ==================== */

.testimonials {
  padding-block: 3rem;
  display: grid;
  gap: 2rem;
}

.testimonial__img {
  overflow: clip;
  border-radius: 1.8125rem;
  max-height: 27.7613rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 5/3;
  }
}

.testimonial__content {
  .review {
    color: #292929;
  }

  .author {
    font-family: var(--font-inter);
    color: black;
    font-weight: 600;
    font-size: 1.75rem;
    text-transform: capitalize;
    margin-top: 0.4rem;
  }

  .stars {
    display: flex;
    align-items: center;
    width: fit-content;

    img {
      width: 20px;
    }
  }

  .testimonials__control {
    text-align: right;

    button {
      font-size: 2rem;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.1rem 0.8rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    #previous-testimonial {
      background-color: #dfdfdf;
      color: var(--primary);
    }

    #next-testimonial {
      background-color: var(--primary);
      color: white;
    }
  }

  & > * {
    margin-bottom: 1.2rem;
  }
}

/* ================ FAQs ==================== */

.faq {
  padding-block: 3rem;
  p {
    color: #272727;
  }

  p.first {
    text-align: center;
    max-width: 32.125rem;
    margin-inline: auto;
    text-wrap: pretty;
  }
}

.faq__list {
  margin-top: 2rem;
}

.faq__card {
  position: relative;
  margin-bottom: 2rem;
  border: 1.29px solid #3d3d3d;
  padding: 1rem;
  box-shadow: 0px 5.18px 5.18px rgba(0, 0, 0, 0.25);
  border-radius: 1.1875rem;
  height: max-content;

  h5,
  p {
    padding-right: 0.8rem;
  }

  h5 {
    font-weight: 600;
    font-family: var(--font-inter);
    font-size: 1.15rem;
    color: black;
  }

  button {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 1.2rem;
    color: black;
  }
}

.faq__card[data-state="open"] {
  p {
    display: block;
    margin-top: 0.7rem;
  }

  button {
    top: 50%;
    translate: -50% 0;
  }
}

.faq__card[data-state="closed"] p {
  display: none;
}

/* ===========  FOOTER  ============ */

.main__footer {
  background-color: var(--primary);
  color: white;
  padding: 2rem;
  overflow-x: hidden;
}

.left__side {
  h6 {
    font-size: 1.5rem;
  }

  .socials {
    display: inline-flex;
    align-items: center;
    gap: 1.4rem;
  }

  & > * {
    margin-bottom: 1.5rem;
  }
}

.quick__links,
.customer__support {
  margin-bottom: 1rem;

  h5 {
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
  }
  ul > * {
    margin-bottom: 1rem;
  }
}

.section__two {
  border-top: 1px solid #898989;
  padding-block: 2rem;
  margin-top: 2rem;

  & > * {
    margin-bottom: 0.8rem;
    text-wrap: nowrap;
  }
}

@media (width>= 47.8125rem) {
  .sign-in-wrap {
    display: block;
    a {
      background-color: var(--primary);
      color: white;
      padding: 0.5rem 1.4rem;
      border-radius: 2.6875rem;

      &:hover {
        color: white !important;
      }
    }
  }

  .nav-toggle {
    display: none;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    text-align: left;
  }

  .main__header {
    padding-inline: 3.5rem;

    a:hover {
      color: var(--primary);
    }
  }

  .main__nav {
    display: block;
    border-radius: 0;
    position: static;
    background-color: transparent;
    color: inherit;
    padding: 0;
    box-shadow: none;
    max-width: max-content;

    ul {
      flex-direction: row;

      li:last-of-type {
        display: none;
      }
    }
  }

  .page {
    width: 85%;
  }

  .flex {
    flex-direction: row;
  }

  .hero__content {
    flex-basis: 50%;
  }

  .hero .flex__img {
    flex-basis: 46%;
  }

  .hero {
    margin-top: 5rem;
  }

  .scroller {
    margin-block: 4rem;
  }

  .discover.flex {
    gap: 3rem;
  }

  .discover > * {
    flex: 1;
  }

  .discover__units {
    justify-content: flex-start;
  }

  .why__us {
    padding-block: 6rem;
  }

  .why__us-list {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
  }

  .see-all {
    align-self: center;
  }

  .discover__list,
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }

  .faq.page {
    max-width: 65%;
  }

  .faq__card {
    padding: 2rem;

    button {
      top: 2rem;
    }
  }

  .main__footer {
    padding: 1.4rem 3.5rem;

    a:hover {
      color: lightcoral;
    }
  }

  .section__one {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    & > * {
      flex: 1;
    }
  }

  .section__two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
  }
}

@media (min-width: 64rem) {
  .hero__content,
  .hero .flex__img {
    flex-basis: 50%;
  }
  .main__header,
  .main__footer {
    padding-inline: 6rem;
  }

  .page {
    width: 80%;
  }

  .discover__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__one {
    gap: 5rem;
  }

  .left__side {
    flex-basis: 30%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 1rem;
  }

  .main__nav {
    --position: 50% -50%;
    animation: slide-in 1000ms cubic-bezier(0.83, 0, 0.17, 1);
  }

  .main__header {
    animation: slide-in 900ms cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  .animated {
    animation: fadeIn var(--duration, 600ms) var(--delay, 0ms)
      cubic-bezier(0.34, 1.56, 0.64, 1);
  }

  @media (width>= 47.8125rem) {
    .main__nav {
      animation: none;
    }
  }
}

@keyframes scroll {
  to {
    translate: calc(-50% - var(--gap));
  }
}

@keyframes slide-in {
  from {
    translate: var(--position, 0 -50%);
    opacity: 0;
  }

  to {
    translate: 0;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    scale: var(--scale, 0.7);
    opacity: var(--opacity, 0.5);
  }

  to {
    scale: 1;
    opacity: 1;
  }
}
